/* Stylesheet for the MDR application template */

/* Colors:
	#00FF00 -> green
*/

html {
	margin: auto 0px;
	font-family: Arial;
}

.nav-bar {
	height: 15%;
	width: 100%;
	display: inline-block;
	background-color: #00FF00;
}

.nav-bar h1 {
	width: 350px;
	padding: 0px;
	padding-top: 15px;
	padding-left: 10px;
	margin: auto 0px;
}

.nav-bar a {
	text-decoration: none;
	color: #000000;
}

.nav-bar ul {
	display: inline-block;
	list-style: none;
	float: right;
	padding: 0px;
	margin: auto 0px;
}

.nav-bar li {
	display: inline-block;
	font-size: 30px;
	padding: 10px;
}

.profile-side-bar {
	float: right;
	padding-top: 50px;
	padding-right: 30px;
}

.content {
	padding: 25px;
}

.content input {
	margin-bottom: 15px;
}